-- margixindia COMPLETE DATABASE SCHEMA --
-- Generated from SQLAlchemy Models --

CREATE TYPE user_role AS ENUM ('superadmin', 'admin', 'manager', 'driver');CREATE TYPE vehicle_type AS ENUM ('truck', 'van', 'bike', 'car');CREATE TYPE vehicle_status AS ENUM ('available', 'on_route', 'idle', 'maintenance', 'offline');CREATE TYPE route_status AS ENUM ('pending', 'optimizing', 'active', 'completed', 'cancelled');CREATE TYPE alert_severity AS ENUM ('low', 'medium', 'high', 'critical');CREATE TYPE shipment_status AS ENUM ('created', 'picked_up', 'in_transit', 'delivered', 'cancelled');CREATE TYPE shipment_priority AS ENUM ('low', 'medium', 'high', 'critical');
CREATE TABLE users (
	id UUID NOT NULL, 
	email VARCHAR(255) NOT NULL, 
	full_name VARCHAR(255) NOT NULL, 
	hashed_password VARCHAR(255) NOT NULL, 
	role user_role NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	last_login TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id)
)

;CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE TABLE depots (
	id UUID NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	address TEXT NOT NULL, 
	latitude FLOAT NOT NULL, 
	longitude FLOAT NOT NULL, 
	speed_kmph FLOAT NOT NULL, 
	heading FLOAT NOT NULL, 
	fuel_level_pct FLOAT NOT NULL, 
	engine_temp FLOAT, 
	odometer_km FLOAT, 
	cargo_types JSON, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id)
)

;
CREATE TABLE shipments (
	id UUID NOT NULL, 
	tracking_id VARCHAR(50) NOT NULL, 
	status shipment_status NOT NULL, 
	priority shipment_priority NOT NULL, 
	origin_name VARCHAR(255), 
	origin_address TEXT, 
	origin_lat FLOAT, 
	origin_lng FLOAT, 
	total_items INTEGER, 
	total_weight_kg FLOAT, 
	received_by VARCHAR(100), 
	signature_data TEXT, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id)
)

;CREATE UNIQUE INDEX ix_shipments_tracking_id ON shipments (tracking_id);
CREATE TABLE vehicles (
	id UUID NOT NULL, 
	plate_number VARCHAR(20) NOT NULL, 
	vehicle_type vehicle_type NOT NULL, 
	capacity_kg FLOAT NOT NULL, 
	fuel_type VARCHAR(20) NOT NULL, 
	fuel_capacity_liters FLOAT NOT NULL, 
	fuel_efficiency_kmpl FLOAT NOT NULL, 
	current_fuel_liters FLOAT NOT NULL, 
	status vehicle_status NOT NULL, 
	latitude FLOAT, 
	longitude FLOAT, 
	last_heartbeat TIMESTAMP WITH TIME ZONE, 
	spark_id VARCHAR(50), 
	last_sync TIMESTAMP WITH TIME ZONE, 
	driver_id UUID, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (plate_number), 
	FOREIGN KEY(driver_id) REFERENCES users (id)
)

;CREATE INDEX ix_vehicles_spark_id ON vehicles (spark_id);
CREATE TABLE delivery_points (
	id UUID NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	address TEXT NOT NULL, 
	latitude FLOAT NOT NULL, 
	longitude FLOAT NOT NULL, 
	speed_kmph FLOAT NOT NULL, 
	heading FLOAT NOT NULL, 
	fuel_level_pct FLOAT NOT NULL, 
	engine_temp FLOAT, 
	odometer_km FLOAT, 
	cargo_types JSON, 
	demand_kg FLOAT NOT NULL, 
	service_time_minutes INTEGER NOT NULL, 
	required_cargo_types JSON, 
	status VARCHAR(20) NOT NULL, 
	shipment_id UUID, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(shipment_id) REFERENCES shipments (id)
)

;
CREATE TABLE parcels (
	id UUID NOT NULL, 
	shipment_id UUID NOT NULL, 
	weight_kg FLOAT NOT NULL, 
	length_cm FLOAT NOT NULL, 
	width_cm FLOAT NOT NULL, 
	height_cm FLOAT NOT NULL, 
	category VARCHAR(50) NOT NULL, 
	is_hazardous BOOLEAN NOT NULL, 
	is_fragile BOOLEAN NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(shipment_id) REFERENCES shipments (id)
)

;
CREATE TABLE shipment_logs (
	id UUID NOT NULL, 
	shipment_id UUID NOT NULL, 
	status VARCHAR(50) NOT NULL, 
	location_lat FLOAT, 
	location_lng FLOAT, 
	timestamp TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	index INTEGER NOT NULL, 
	previous_hash VARCHAR(64) NOT NULL, 
	log_hash VARCHAR(64) NOT NULL, 
	metadata_json JSON, 
	PRIMARY KEY (id), 
	FOREIGN KEY(shipment_id) REFERENCES shipments (id)
)

;
CREATE TABLE routes (
	id UUID NOT NULL, 
	vehicle_id UUID NOT NULL, 
	depot_id UUID NOT NULL, 
	status route_status NOT NULL, 
	total_distance_km FLOAT NOT NULL, 
	total_duration_minutes FLOAT NOT NULL, 
	estimated_fuel_liters FLOAT NOT NULL, 
	weather_condition VARCHAR(50) NOT NULL, 
	traffic_delay_minutes INTEGER NOT NULL, 
	waypoints JSON NOT NULL, 
	optimization_score FLOAT NOT NULL, 
	started_at TIMESTAMP WITH TIME ZONE, 
	completed_at TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(vehicle_id) REFERENCES vehicles (id), 
	FOREIGN KEY(depot_id) REFERENCES depots (id)
)

;
CREATE TABLE telemetry (
	id UUID NOT NULL, 
	vehicle_id UUID NOT NULL, 
	timestamp TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	latitude FLOAT NOT NULL, 
	longitude FLOAT NOT NULL, 
	speed_kmph FLOAT NOT NULL, 
	heading FLOAT NOT NULL, 
	fuel_level_pct FLOAT NOT NULL, 
	engine_temp FLOAT, 
	odometer_km FLOAT, 
	cargo_types JSON, 
	PRIMARY KEY (id), 
	FOREIGN KEY(vehicle_id) REFERENCES vehicles (id)
)

;
CREATE TABLE vehicle_stoppages (
	id UUID NOT NULL, 
	vehicle_id UUID NOT NULL, 
	start_time TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	end_time TIMESTAMP WITH TIME ZONE, 
	latitude FLOAT NOT NULL, 
	longitude FLOAT NOT NULL, 
	speed_kmph FLOAT NOT NULL, 
	heading FLOAT NOT NULL, 
	fuel_level_pct FLOAT NOT NULL, 
	engine_temp FLOAT, 
	odometer_km FLOAT, 
	cargo_types JSON, 
	reason VARCHAR(255) NOT NULL, 
	duration_minutes INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(vehicle_id) REFERENCES vehicles (id)
)

;
CREATE TABLE maintenance_alerts (
	id UUID NOT NULL, 
	vehicle_id UUID NOT NULL, 
	alert_type VARCHAR(50) NOT NULL, 
	severity alert_severity NOT NULL, 
	description TEXT NOT NULL, 
	is_resolved BOOLEAN NOT NULL, 
	resolved_at TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(vehicle_id) REFERENCES vehicles (id)
)

;
CREATE TABLE route_stops (
	id UUID NOT NULL, 
	route_id UUID NOT NULL, 
	delivery_point_id UUID NOT NULL, 
	sequence INTEGER NOT NULL, 
	status VARCHAR(20) NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(route_id) REFERENCES routes (id), 
	FOREIGN KEY(delivery_point_id) REFERENCES delivery_points (id)
)

;
