BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> b74a1234cdef

ALTER TYPE user_role ADD VALUE 'superadmin';

INSERT INTO alembic_version (version_num) VALUES ('b74a1234cdef') RETURNING alembic_version.version_num;

-- Running upgrade b74a1234cdef -> b042a021864a

ALTER TABLE delivery_points ADD COLUMN status VARCHAR(20) DEFAULT 'pending' NOT NULL;

ALTER TABLE route_stops ADD COLUMN status VARCHAR(20) DEFAULT 'pending' NOT NULL;

ALTER TABLE vehicles ALTER COLUMN fuel_type SET NOT NULL;

ALTER TABLE vehicles ALTER COLUMN fuel_capacity_liters SET NOT NULL;

UPDATE alembic_version SET version_num='b042a021864a' WHERE alembic_version.version_num = 'b74a1234cdef';

-- Running upgrade b042a021864a -> 7866e10381e7

ALTER TABLE route_stops ADD FOREIGN KEY(delivery_point_id) REFERENCES delivery_points (id);

ALTER TABLE routes ADD FOREIGN KEY(depot_id) REFERENCES depots (id);

ALTER TABLE shipments ADD COLUMN origin_name VARCHAR(255);

ALTER TABLE shipments ADD COLUMN origin_address TEXT;

ALTER TABLE shipments ADD COLUMN origin_lat FLOAT;

ALTER TABLE shipments ADD COLUMN origin_lng FLOAT;

ALTER TABLE shipments ADD COLUMN total_items INTEGER;

ALTER TABLE shipments ADD COLUMN total_weight_kg FLOAT;

UPDATE alembic_version SET version_num='7866e10381e7' WHERE alembic_version.version_num = 'b042a021864a';

-- Running upgrade 7866e10381e7 -> d619b51920ae

ALTER TABLE vehicles ADD COLUMN spark_id VARCHAR(50);

ALTER TABLE vehicles ADD COLUMN last_sync TIMESTAMP WITH TIME ZONE;

CREATE INDEX ix_vehicles_spark_id ON vehicles (spark_id);

ALTER TABLE vehicles DROP COLUMN cargo_types;

UPDATE alembic_version SET version_num='d619b51920ae' WHERE alembic_version.version_num = '7866e10381e7';

COMMIT;

