
# Cargo Network APIs
MAPPLS_CLIENT_ID=
MAPPLS_CLIENT_SECRET=
ULIP_CLIENT_ID=
ULIP_CLIENT_SECRET=
EWAYBILL_GSP_USERNAME=
EWAYBILL_GSP_PASSWORD=
EWAYBILL_GSP_CLIENT_ID=
FLEET_TELEMATICS_WEBHOOK_SECRET=
